* {
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

button, input {
    outline: none;
}

#player-container {
    border-radius: 10px;
    width: 400px;
    margin: 25px;
    padding: 15px;
    border-radius: 5px;
    border: 1px gray solid;
    visibility: hidden;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 2%, rgba(118, 159, 154, 1) 50%, rgba(71, 68, 68, 1) 89%, rgba(32, 37, 36, 1) 100%);
    box-shadow: 1px 1px 10px black;
}

button {
    color: rgb(168, 168, 168);
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    margin: 5px;
}

.play, #play {
    width: 50px;
    height: 35px;
}

button:hover, #author:hover, #name:hover {
    background-color: rgb(44, 44, 44);
    color: rgb(252, 126, 23);
    text-shadow: 1px 1px 2px black, 0 0 10px rgb(250, 127, 11), 0 0 5px rgb(238, 112, 9);
}

body {
    background-color: rgb(59, 58, 58);
    color: rgb(53, 250, 234);
    text-shadow: 1px 1px 2px black, 0 0 10px rgb(0, 255, 255), 0 0 5px rgb(35, 142, 156);
}

table {
    border-collapse: collapse;
}

#tracks tr, td {
    border-bottom: 1px gray solid;
    padding: 5px;
}

#search {
    background-color: rgb(209, 209, 209);
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 5px;
}

#range {
    width: 80%;
}

#favs {
    color: rgb(255, 89, 139);
    text-shadow: 1px 1px 2px black, 0 0 10px rgb(247, 79, 121), 0 0 5px rgb(206, 20, 66);
    margin-left: 35px;
}

.tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slider {
    -webkit-appearance: none;
    box-shadow: 0 1px 10px 1px black;
    overflow: hidden;
    height: 5px;
    cursor: pointer;
    border-radius: 20px;
}

::-webkit-slider-runnable-track {
    background: rgba(221, 244, 248, 0.568);
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(36, 39, 48);
    cursor: pointer;
    transform: scale(2);
    margin-left: -5px;
    box-shadow: -100vw 0 0 100vw rgb(31, 32, 36);
}

#seek #play {
    margin-left: 130px;
}

#mute {
    width: 70px;
    visibility: hidden;
}